.section-name, .page-name {
	line-height: 1;
	font-family: $f_demi;
	font-size: 40px;
	color: #0e6648;
	letter-spacing: 2px;

	@media screen {
		@media (max-width: 991px) {
		    margin: 0 0 40px 0;
		}

		@media (max-width: 767px) {
			margin: 0 0 30px 0;
			font-size: 35px;
			text-align: center;
		}
	}
}

.page-name {
	margin: 0 0 45px 0;
}

.scroll-down {
	display: inline-block;
	position: absolute;
	top: -141px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 92.5px 54px 92.5px;
	border-color: transparent transparent #fff transparent;
	z-index: 1;

	@media (max-width: 575px) {
		display: none;
	}

	&::before {
		content: '';
		display: inline-block;
		position: absolute;
		top: 29px;
    	left: -9px;
		width: 23px;
		height: 14px;
		background: url('../img/sprite.png') 0 0 no-repeat;
	}

	&.white-arrow {
		border-color: transparent transparent #e9ede1 transparent;

		&::before {
			background-position: -18px -5px;
		}
	}

	&.blue-arrow {
		&::before {
			background-position: -49px -5px;
		}
	}

	&.green-arrow {
		&::before {
			background-position: -80px -5px;
		}
	}

	&.left {
		left: 0;
	}

	&.right {
		right: 0;
	}
} 

.sticky-banner {
	position: fixed;
	top: 110px;
	right: calc(-100% - 85px);
	min-width: 105px;
	z-index: 2;
	@include transition();

	@media screen {
		@media (max-width: 991px) {
			display: none;
		}
	}

	a {
		position: relative;
		display: block;
		padding: 12px 45px 12px 20px;
		background: #bcdd6b;
		color: #0e6648;
		font-family: $f_demi;
		letter-spacing: 1px;

		.amount {
			margin: 0 20px 0 0;

			&::before {
				content: '';
				display: inline-block;
				width: 30px;
    			height: 22px;
				background: url('../img/house-ico.svg') 0 0 no-repeat;
				background-size: 100%; 
			}

			.badge {
				display: inline-block; 
				min-width: 18px;
    			height: 18px;
				padding: 0 2px;
				margin: -4px 0 0 0;
				background: #fff;
				font-family: $f_demi;
				font-size: 11px;
				font-style: normal;
				@include rounded(50%);
			}
		}


		/*
		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 28px;
			bottom: 0;
			margin: auto 0;
			width: 9px;
			height: 16px;
			background: url('../img/sprite.png') no-repeat -4px -3px;
			transform: rotate(180deg);
			-o-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
			@include transition();
		}
		*/
	}

	&:hover {
		right: 0 !important;

		a {
			&::before {
				transform: rotate(0);
				-o-transform: rotate(0);
				-moz-transform: rotate(0);
				-webkit-transform: rotate(0);
			}
		}
	}
}

.tabs-block {
	.nav-tabs {
		width: 100%;
		margin: 0 0 39px 0;
		border-color: #959595;

		@media screen {
			@media (max-width: 767px) {
				border: 0;
			}
		}

		li {
			@media screen {
				@media (max-width: 767px) {
					border-bottom: 1px solid #eee;
				}
			}

			.nav-link {
				padding: 8px 20px;
				margin: 0 0 -1px 0;
				border: 0;
				line-height: normal;
				background: none;
				border-bottom: 3px solid transparent;
				font-family: $f_demi;
				font-size: 14px;
				color: #959595;
				@include transition();
				@include rounded(0);

				&.active {
					border-color: #0e6648;
					color: #0e6648;
				}

				&:hover {
					color: #0e6648;
				}
			}
		}
	}

	.tab-content {
		.tab-pane {
			p {
				font-size: 15px;
			}

			.read-more {
				margin: 44px 0 0 0;

				@media screen {
					@media (max-width: 991px) {
						text-align: center;
					}

					@media (max-width: 767px) {
						.btn {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

.hero-slider {
	margin: 0 0 87px 0;

	.owl-carousel { 
		.owl-item {
			> div {
				@media screen {
					@media (min-width: 1920px) {
						background-size: cover !important;
					}

					@media (min-width: 992px) {
						min-height: 738px;
					}

					@media (max-width: 991px) {
						padding: 150px 0;
					}

					@media (max-width: 767px) {
						text-align: center;
					}

					@media (max-width: 575px) {
						padding: 80px 0;
					}
				}
			}
		}

		.owl-dots {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 30px;
			text-align: center;

			@media screen {
				@media (max-width: 575px) {
					position: static;
					margin: 20px 0 0 0;
				}
			}

			.owl-dot {
				display: inline-block;
				width: 24px;
				height: 5px;
				margin: 0 12px;
				background: #fff;
				@include transition();

				@media screen {
					@media (min-width: 992px) {
						&:hover {
							background: #bcdd6b;
						}
					}
					@media (max-width: 575px) {
						background: #0e6648;;
					}
				}

				&.active {
					background: #bcdd6b;
				}
			}
		}
	}

	.text {
		color: #fff;

		@media screen {
			@media (min-width: 992px) {
				max-width: 600px;
			}
		}

		h1, h2 {
			margin: 0 0 20px 0;
			line-height: normal;
			font-family: $f_demi;
			font-size: 40px;
			letter-spacing: 1.2px;
			text-transform: uppercase;

			@media screen {
				@media (max-width: 767px) {
					font-size: 33px;
				}

				@media (max-width: 575px) {
					font-size: 28px;
				}
			}

			span {
				display: block;
				color: #6eccc3;
			}
		}

		p {
			margin: 0;
			letter-spacing: .5px;
		}

		.btn {
			min-width: 262px;
			margin: 50px 0 0 0;

			@media screen {
				@media (max-width: 1199px) {
			    	margin: 35px 0 0 0;
			    }

			    @media (max-width: 767px) {
			    	min-width: 100%;
			    }
			}
		}
	}
}

.about-us {
	position: relative;

	.section-name {
		@media screen {
			@media (min-width: 992px) {
				position: absolute;
				top: 69px;
				left: 0;
			}
		}	
	}

	.btn {
		padding: 0 65px;
	}

	&.project {
		.section-name {
			font-family: $f_medium;
		}

		.image {
			margin: 48px 0 0 0;
		}
	}

	&.apartments {
		padding: 90px 0 155px 0;
		background-color: #e9ede1; 

		@media screen {
			@media (max-width: 575px) {
				padding: 65px 0 90px 0;
			}
		}

		.tabs-block {
			.nav-tabs {
				li {
					@media screen {
						@media (max-width: 767px) {
							border-bottom: 1px solid #cecdcd;
						}
					}
				}
			}
		}

		.apartment-ad {
			margin: 30px 0 0 0;

			.row {
				margin: 0;

				> [class*="col-"] {
					padding: 0;
				}
			}

			.thumbnail {
				position: relative;

				a {
					display: block;
				}

				.btn {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					padding: 0;
					border: 0;
					margin: auto;
					height: 51px;
					width: 262px;
					background: #fff;

					@media screen {
						@media (min-width: 992px) {
							&:hover {
								color: #fff;
								background: rgba(255, 255, 255, .6);
							}
						}

						@media (max-width: 991px) {
							height: 45px;
						}
					}
				}
			}

			.details {
				padding: 13px 35px 23px 35px;
				background-color: #fff;

				@media screen {
					@media (min-width: 768px) AND (max-width: 991px) {
						margin: -30px 0 0 0;
						padding: 13px 25px 23px 25px;
					}

					@media (max-width: 767px) {
						padding: 15px 20px 25px 20px;
					}
				}

				.rooms {
					a {
						font-family: $f_demi;
						font-size: 40px;
						color: #0e6648;
					}

					&::after {
						content: '';
						display: block;
						width: 112px;
						height: 11px;
						margin: 9px 0 0 0;
						background: #bcdd6b;
					}

					@media screen {
						@media (max-width: 1199px) {
							font-size: 33px;
						}

						@media (max-width: 575px) {
							margin: 0 0 15px 0;
						}
					}
				}

				.total {
					a {
						font-size: 15px;
						color: #bcdd6b;
					}
				}

				.description {
					margin: 10px 0 20px 0;
					color: #0e6648;
					font-size: 15px; 

					p {
						&:last-child {
							margin: 0;
						}
					}
				}

				.features {
					li {
						font-family: $f_demi;
						font-size: 26px;
						color: #0e6648;

						@media screen {
							@media (max-width: 1199px) {
								font-size: 24px;
							}

							@media (max-width: 991px) {
								font-size: 21px;
							}
						}
					}
				}

				.price {
					margin: 20px 0 0 0;
					font-family: $f_demi;
					font-size: 30px;
					color: #bcdd6b;

					@media screen {
						@media (max-width: 1199px) {
							font-size: 26px;
						}

						@media (max-width: 991px) {
							font-size: 23px;
						}
					}
				}
			}
		}

		.scroll-down {
		    top: -144px;
		}
	}
}

.contact-us {
	&.location {
		padding: 92px 0 101px 0;

		.apartments-logos {
			margin: 3px 0 0 0;

			@media screen {
				@media (max-width: 767px) {
					margin: 30px 0 0 0;
					text-align: center;
				}
			}

			li {
				margin: 0 48px 0 0;

				&:last-child {
					margin: 0;
				}

				a {
					display: block;
				}

				img {
					width: 175px;
				}

				@media screen {
					@media (max-width: 767px) {
						display: inline-block;
						width: 49%;
						padding: 0 15px;
						margin: 0;
						text-align: center;

						img {
							width: 100%;
						}
					}

					@media (max-width: 400px) {
						display: block;
						width: 100%;
						padding: 0;
						margin: 0 0 30px 0;

						img {
							width: 70%;
						}

						&:last-child {
							margin: 0;
						}
					}
				}
			}
		}

		#google-map {
			height: 425px;
			margin: 50px 0 0 0;

			@media screen {
				@media (max-width: 767px) {
					height: 300px;
				}
			}
		}

		.scroll-down {
		    top: -146px;
		}
	}

	&.form {
		background: #e9ede1;
		padding: 82px 0 78px 0;

		.section-name {
			margin: 0 0 62px 0;
		}

		form {
			@media screen {
				@media (min-width: 992px) {
					max-width: 570px;
				}

				@media (max-width: 991px) {
					padding: 30px;
					margin: 0 0 30px 0;
					background: #e3e7db;
				}
			}

			.form-group {
				margin: 0 0 45px 0;

				@media screen {
					@media (max-width: 991px) {
						margin: 0 0 35px 0;

						&.submit {
							margin: 0;
						}
					}
				}
			}

			.form-control {
				height: auto;
				padding: 0 0 11px 0;
				border: 0;
				background: none;
				border-bottom: 1px solid #959595;
				font-family: $f_medium;
				font-size: 15px;
				color: #959595;
			}

			button[type="submit"],
			input[type="submit"] {
				&:not(:disabled),
            	&:not(.disabled) {
					@media screen {
						@media (min-width: 992px) {
							margin: 35px 0 0 0;
							padding: 0 59px;

							&:hover {
								background: #fff;
								border-color: #fff;
								color: #bcdd6b;
							}	
						}

						@media (max-width: 767px) {
							width: 100%;
						}
					}
				}
			}
		}

		.contact-persons {
			.person {
				margin: 0 0 60px 0;

				@media screen {
					@media (max-width: 991px) {
						margin: 0;
						padding: 30px 0;
						border-bottom: 1px solid #cac9c9;
					}
				}

				&:last-child {
					margin: 0;
					border: 0;
				}

				.photo-thumbnail {
					margin: 0 34px 0 0;

					img {
						@include rounded(50%);
					}					

					@media screen {
						@media (max-width: 767px) {
							margin: 0 20px 0 0;

							img {
								width: 120px;
							}
						}
					}
				}

				.details {
					font-size: 15px;
					color: #0e6648;
					letter-spacing: 1px;

					.name {
						margin: 0 0 3px 0;
						font-size: 16px;
					}

					.position {
						display: block;
						
					}

					.contacts {
						margin: 23px 0 0 0;

						li {
							a {
								color: #0e6648;
							}
						}
					}
				}
			}
		}

		.scroll-down {
		    top: -136px;
		}
	}

	&.addresses {
		margin: 0 0 100px 0;

		@media screen {
			@media (max-width: 991px) {
				.row {
					> [class*="col-"] {
						margin-bottom: 50px;
					}
				}
			}
		}

		.address-block {
			.block-name {
				margin: 0 0 5px 0;
				font-size: 26px;
				color: #0e6648;
			}

			.address {
				font-size: 15px;
			}

			.map {
				margin: 63px 0 0 0;

				@media screen {
					@media (max-width: 991px) {
						margin: 30px 0 0 0;
					}
				}

				#google-map,
				#google-map-2 {
					height: 425px;

					@media screen {
						@media (max-width: 991px) {
							height: 300px;
						}
					}
				}
			}
		}
	}
}

.post-view {
	margin-bottom: 50px;

	.post {
		.entry-title {
			margin: 0 0 27px 0;
			line-height: normal;
			font-size: 40px;
			color: #0e6648;

			@media screen {
				@media (max-width: 767px) {
					margin: 0 0 20px 0;
					font-size: 35px;
					text-align: center;
				}
			}
		}

		.entry-content {
			h2 {
				margin: 0 0 20px 0;
				line-height: normal;
				font-size: 26px;
				color: #0e6648;
				letter-spacing: 2px;
				text-transform: uppercase;
			}

			ul {
				&:not(.nav-tabs),
				&:not(.pagination) {
					li {
						position: relative;
						margin: 0 0 14px 0;
						font-size: 15px;

						&:last-child {
							margin: 0;
						}

						.fas {
							margin: 0 15px 0 0;
							font-size: 13px;
							color: #585858;
						}
					}
				}
			}

			.tabs-block {
				.nav-tabs {
					.nav-item {
						margin-bottom: 0;
					}
				}
			}

			.pagination {
				@media screen {
					@media (max-width: 991px) {
						margin: 15px 0;
					}
				}


				li {
					.page-link { 
						.fas {
		                    margin: 0;
		                    color: #fff;
		                    font-size: 16px;
	                	}

	                	&:hover {
							.fas {
		                        color: #0e6648;
		                    }
	                	}
                	}
				}
			}

			table {
				width: 100%;
				border: 1px solid #333d47;
				font-size: 15px;

				thead {
					background: #d3f0ed;

					tr {
						th {
							padding: 3px 12px;
							border-right: 1px solid #333d47;
							font-family: $f_demi;
							font-size: 15px;
							color: #333d47;

							&:last-child {
								border: 0;
							}
						}
					}
				}

				tbody {
					tr {
						td {
							padding: 1px 12px;
							background: #ebf5d2;
							border-right: 1px solid #333d47;

							&:last-child {
								border: 0;
							}
						}

						&:nth-child(2n+0) {
							background: #fff;
						}
					}
				}
			}

			.block {
				margin: 0 0 60px 0;
			}

			@media screen {
				@media (min-width: 992px) {
					.row {
						margin-left: -34px;
						margin-right: -34px;

						[class*="col-"] {
							padding-left: 34px;
							padding-right: 34px;
						}
					}
				}
			}
			
		}	
	}
}

.flat-overview {
	.scroll-down {
		top: -159px;
	}

	.details {
		padding: 0 0 92px 0;

		.text {
			margin: 0 0 42px 0;

			p {
				margin: 0;
			}
		}

		.image {
			padding: 0 0 0 28px;

			@media screen {
				@media (max-width: 991px) {
					text-align: center;

					img {
						display: block;
						margin: 0 auto;
					}
				}
			}
		}

		.summary {
			margin: 13px 0 0 0;

			.rooms {
				font-family: $f_demi;
				font-size: 40px;
				color: #0e6648;

				&::after {
					content: '';
					display: block;
					width: 112px;
					height: 11px;
					margin: 9px 0 0 0;
					background: #bcdd6b;
				}

				@media screen {
					@media (max-width: 1199px) {
						font-size: 33px;
					}

					@media (max-width: 575px) {
						margin: 0 0 15px 0;
					}
				}
			}

			.total {
				font-size: 15px;
				color: #bcdd6b;
			}

			.description {
				margin: 14px 0 20px 0;
				color: #0e6648;
				font-size: 15px; 

				p {
					&:last-child {
						margin: 0;
					}
				}
			}

			.features {
				li {
					font-family: $f_demi;
					font-size: 26px;
					color: #bcdd6b;

					@media screen {
						@media (max-width: 1199px) {
							font-size: 24px;
						}

						@media (max-width: 991px) {
							font-size: 21px;
						}
					}
				}
			}

			.price {
				margin: 10px 0 30px 0;
				font-family: $f_demi;
				font-size: 40px;
				color: #0e6648;

				@media screen {
					@media (max-width: 1199px) {
						font-size: 26px;
					}

					@media (max-width: 991px) {
						font-size: 23px;
					}
				}
			}

			.btn {
				padding: 0 25px;

				@media screen {
					@media (max-width: 767px) {
						width: 100%;
						text-align: center;
					}
				}
			}
		}
	}

	.gallery {
		padding: 105px 0;
		background: #e9ede1;

		@media screen {
			@media (max-width: 767px) {
				padding: 60px 0;

				.scroll-down {
					top: -114px;
				}
			}
		}

		.owl-carousel {
			.owl-nav {
				position: absolute;
				top: 0;
				left: -15px;
				right: -15px;
				bottom: 0;
				height: .1px;
				margin: auto 0;

				@media screen {
					@media (max-width: 767px) {
						left: 0;
						right: 0;
					}
				}

				.owl-prev,
				.owl-next {
					display: -ms-flexbox;
    				display: flex;
    				-ms-flex-align: center;
    				align-items: center;
    				-ms-flex-pack: center;
    				justify-content: center;
					position: absolute;
					top: -29px;
					width: 64px;
					height: 58px;
					background: #bcdd6b;
					font-size: 0;
					@include transition();

					@media screen {
						@media (max-width: 767px) {
							width: 40px;
							height: 40px;
						}
					}

					&::before {
						content: "\f104";
						display: inline-block;
						line-height: 1;
						-moz-osx-font-smoothing: grayscale;
					    -webkit-font-smoothing: antialiased;
					    font-family: "Font Awesome 5 Free";
					    font-style: normal;
					    font-variant: normal;
					    font-weight: 900;
					    font-size: 40px;
					    color: #fff;
					    text-rendering: auto;

					    @media screen {
							@media (max-width: 767px) {
								font-size: 30px;
							}
						}
					}

					&:hover {
						background: darken(#bcdd6b, 5%);
					}
				}

				.owl-prev {
					left: 0;
				}

				.owl-next {
					right: 0;

					&::before {
						content: "\f105";
					}
				}
			}
		}
	}

	.rooms-2d { 
		padding: 99px 0;

		@media (max-width: 767px) {
			padding: 60px 0;
		}

		.section-name {
			@media screen {
				@media (min-width: 768px) {
					margin: 0 0 68px 0;
				}
			}
		}

		.scroll-down {
		    top: -153px;

		    &::before {
		    	background-position: -110px -6px;
		    }

		    @media (max-width: 767px) {
				top: -114px;
			}
		}

		.directions-icon {
			position: absolute;
			top: 43px;
			right: 15px;
			width: 74px;
			height: 81px;
			background: url('../img/directions-icon.png') 0 0 no-repeat;

			@media screen {
				@media (max-width: 767px) {
					display: none;
				}
			}
		}
	}
}

.filters {
	&.options {
		margin: -95px 0 0 0;
		padding: 95px 0;
		background: #e9ede1;

		@media screen {
			@media (max-width: 1199px) {
				margin: -50px 0 0 0;
				padding-bottom: 65px;
			}

			@media (max-width: 991px) {
				padding: 50px 0 20px 0;
			}
		}

		form {
			@media screen {
				@media (max-width: 1199px) {
					.row {
						[class*="col-"] {
							margin-bottom: 30px;
						}
					}
				}
			}

			label {
				display: block;
				margin: 0 0 21px 0;
				font-family: $f_demi;
				font-size: 26px;
				color: #0e6648;

				@media screen {
					@media (max-width: 991px) {
						margin: 0 0 15px 0;
						font-size: 20px;
					}
				}
			}

			.form-group {
				margin: 0;

				.has-checkbox,
				.has-radio {
					margin: 0 -4.5px;

					input[type="checkbox"],
					input[type="radio"] {
						display: none;
					}

					label {
						display: block;
					    min-width: 53px;
					    height: 53px;
					    line-height: 51px;
					    margin: 0 4.5px;
					    padding: 0 5px;
					    background: none;
					    border: 2px solid #1c6f53;
					    color: #0e6648;
					    font-size: 15px;
					    font-family: $f_demi;
					    text-align: center;
					    cursor: pointer;
					    @include transition();

					    &:hover {
					    	background: #6eccc3;
							border-color: #6eccc3;
							color: #fff;
					    }
					}

					input[type="checkbox"]:checked + label,
					input[type="radio"]:checked + label {
						background: #6eccc3;
						border-color: #6eccc3;
						color: #fff;
					}
				}
			}
		}

		.bootstrap-select {
			width: 100% !important;

			.dropdown-toggle {
				height: 53px;
				line-height: 51px;
				padding: 0 30px 0 15px;
				background: none;
				border: 2px solid #1c6f53;
				font-family: $f_demi;
				color: #0e6648;
				outline: none !important;
				box-shadow: none;
				@include rounded(0);

				&::after {
					content: "\f107";
					display: -ms-flexbox;
    				display: flex;
    				-ms-flex-align: center;
    				align-items: center;
    				-ms-flex-pack: center;
    				justify-content: center;
					position: absolute;
	    			top: 2px;
	    			right: 0px;
	    			bottom: 3px;
	    			padding: 0;
	    			margin: auto 0;
	   				border: 0;
	    			width: 51px;
	    			height: 49px;
					background-color: #bcdd6b;
					line-height: 1;
    				font-family: "Font Awesome 5 Free";
    				-moz-osx-font-smoothing: grayscale;
			    	-webkit-font-smoothing: antialiased;
			    	font-style: normal;
			    	font-variant: normal;
			    	font-weight: 600;
			    	font-size: 16px;
			    	color: #0e6648;
			    	text-rendering: auto;
			    	text-align: right;
			    	@include transition();
				}
			}

			.dropdown-menu {
				background: #e9ede1;
				border: 2px solid #0e6648;
				@include rounded(0);

				&.inner {
					display: block;
					border: 0;

					li {
						a {
							display: block;
							padding: 3px 15px;
	   						font-size: 15px;
	    					font-family: "FuturaPTDemi";
						}
					}
				}
			}

			&.show {
				.dropdown-toggle {
					&::after {
						background: #0e6648;
						color: #fff;
					}
				}
			}
		}
	}

	&.results {
		padding: 95px 0 85px 0;

		@media screen {
			@media (max-width: 991px) {
				padding: 65px 0 55px 0;
			}
		}

		.table {
			thead {
				@media screen {
					@media (max-width: 767px) {
						display: none;
					}
				}

				th {
					padding: 0 0 25px 0;
					border: 0;
					font-family: "FuturaPTDemi";
				    font-size: 26px;
				    color: #0e6648;

				    @media screen {
						@media (max-width: 991px) {
							padding: 0 0 20px 0;
							font-size: 19px;
						}
					}
				}
			}

			tbody {
				tr {
					@media (max-width: 767px) {
						background: #f8f8f8;

						&:nth-child(2n+0) {
							background: none;
						}
					}

					td {
						padding: 0;
						border-color: #959595;
						color: #0e6648;
						vertical-align: middle;

						.btn {
							@media screen {
								@media (min-width: 768px) {
									width: 81.967213%;
									padding: 0 20px;
									border: 0;
									
								}

								@media (max-width: 767px) {
									width: 100%;
									margin: 5px 0;
									text-align: center;
									
								}
							}
						}

						&:last-child {
							@media screen {
								@media (min-width: 768px) {
									width: 26.7543%;
									border-color: transparent;
									text-align: right;
								}
							}
						}

						@media screen {
							@media (max-width: 767px) {
								float: none;
								display: block;
								width: 100% ;
								padding: 8px 15px;
								border: 0;
								font-size: 17px;
								text-align: left;

								&:before {
									content: attr(data-title);
							    	float: left;
							    	width: 30%;
							    	font-family: $f_demi;
								    font-size: 17px;
								    color: #0e6648;
							    	word-break: break-all;
							    	text-align: left;
								}
							}

							@media (max-width: 575px) {
								&:before {
									width: 50%;
								}
							}
						}
					}

					@media screen {
						@media (min-width: 768px) {
							&:last-child {
								td {
									border-bottom: 1px solid #959595;

									&:last-child {
										border-color: transparent;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}