@font-face {
    font-family: 'FuturaPTBook';
    src: url('../fonts/FuturaPTBook.eot');
    src: url('../fonts/FuturaPTBook.eot') format('embedded-opentype'),
         url('../fonts/FuturaPTBook.woff2') format('woff2'),
         url('../fonts/FuturaPTBook.woff') format('woff'),
         url('../fonts/FuturaPTBook.ttf') format('truetype'),
         url('../fonts/FuturaPTBook.svg#FuturaPTBook') format('svg');
}

@font-face {
    font-family: 'FuturaPTDemi';
    src: url('../fonts/FuturaPTDemi.eot');
    src: url('../fonts/FuturaPTDemi.eot') format('embedded-opentype'),
         url('../fonts/FuturaPTDemi.woff2') format('woff2'),
         url('../fonts/FuturaPTDemi.woff') format('woff'),
         url('../fonts/FuturaPTDemi.ttf') format('truetype'),
         url('../fonts/FuturaPTDemi.svg#FuturaPTDemi') format('svg');
}

@font-face {
    font-family: 'FuturaPTMedium';
    src: url('../fonts/FuturaPTMedium.eot');
    src: url('../fonts/FuturaPTMedium.eot') format('embedded-opentype'),
         url('../fonts/FuturaPTMedium.woff2') format('woff2'),
         url('../fonts/FuturaPTMedium.woff') format('woff'),
         url('../fonts/FuturaPTMedium.ttf') format('truetype'),
         url('../fonts/FuturaPTMedium.svg#FuturaPTMedium') format('svg');
}







