.home #main-footer {
	margin: 0;
}

#main-footer {
	padding: 82px 0 50px 0;
	margin: 0;
	background: #2a2b2c;
	color: #8e8e8e;
	font-family: $f_demi;
	font-size: 13px;
	letter-spacing: .8px;

	@media screen {
		@media (max-width: 767px) {
			padding: 45px 0 25px 0;
		}
	}

	.container {
		@media screen {
			@media (min-width: 768px) {
				position: relative;

				&::before {
					content: '';
					display: inline-block;
					position: absolute;
					top: -136px;
					left: 0;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 92.5px 54px 92.5px;
					border-color: transparent transparent #2a2b2c transparent;
				}
			}
		}
	}

	.logo-col {
		@media screen {
			@media (min-width: 992px) {
				margin-top: -33px;
			}

			@media (max-width: 991px) {
				text-align: center;
			}
		}
	}

	.address {
		margin: 79px 0 0 0;

		@media screen {
			@media (max-width: 991px) {
				margin: 30px 0;
			}
		}

		span {
			display: block;
			margin: 0 0 5px 0;
			text-transform: uppercase;
		}
	}

	.col-head {
		margin: 0 42px 0 0;
		font-size: 15px;
		color: #bcdd6b;
		text-transform: uppercase;

		@media screen {
			@media (max-width: 991px) {
				margin: 0 0 20px 0;
				text-align: center;
			}
		}
	}

	.social-media {
		@media screen {
			@media (max-width: 991px) {
				margin: 15px 0 20px 0;
				text-align: center;
				@include transition();
			}
		}

		li {
			width: 46px;
			height: 46px;
			margin: 0 0 22px 0;
			opacity: .2;
			@include transition();

			@media screen {
				@media (max-width: 991px) {
					display: inline-block;
					margin: 0 10px;
				}
			}

			a {
				display: block;
			}

			&:last-child {
				margin: 0;
			}

			&:hover {
				opacity: .6;
			}
		}
	}

	.partners {
		@media screen {
			@media (max-width: 991px) {
				margin: 15px 0 20px 0;
				text-align: center;
				@include transition();

				li {
					display: inline-block;
					margin: 0 10px;
				}
			}
		}
	}

	.copyrights {
		opacity: .3;
		text-transform: uppercase;

		@media screen {
			@media (max-width: 991px) {
				display: block;
				margin: 10px 0 0 0;
				text-align: center;
			}
		}
	}
}

@media screen {
	@media (max-width: 1200px) {
		#nav-overlay {
		    display: none;
		    position: fixed;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    background: rgba(0, 0, 0, .7);
		    z-index: 2;

		    &.active {
		    	display: block;
		    }
		}
	}
}
