$f_book: 'FuturaPTBook';
$f_demi: 'FuturaPTDemi';
$f_medium: 'FuturaPTMedium';

@mixin rounded($radius: 5px) {
  	-webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}

@mixin transition ($type: all, $seconds: 0.3s) {
	-webkit-transition: $type $seconds ease;
	-moz-transition: $type $seconds ease;
	-o-transition: $type $seconds ease;
	transition: $type $seconds ease;
}