.home {
	#main-header {
		margin: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}

#main-header {
	padding: 21.5px 0;
	margin: 0 0 97px 0;
	background-color: #fff;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);

	@media screen {
		@media(max-width: 1199px) {
			margin: 0 0 50px 0;

			.container {
				position: relative;

				.row {
					> [class*="col-"] {
						position: static;
					}
				}
			}
		}

		@media (max-width: 991px) {
			padding: 17px 0;
		}
	}

	.navbar {
		padding: 0;

		.container {
			display: block;
		}

		.navbar-brand {
			position: relative;
			width: 198px;
			height: 54px;	
			padding: 0;
			margin: 0 14.03508% 0 0;
		}

		.lang-bar {
			position: absolute;
			right: 0;
			width: 85px;

			@media screen {
				@media (max-width: 1199px) {
					display: none;
				}
			}

			li {
				border-bottom: 1px solid #ccc;

				&:last-child {
					border: 0;
				}

				a {
					display: block;
					padding: 9px 0;
					font-family: $f_demi;
					font-size: 14px;
					color: #0e6648;
					text-transform: uppercase;
					text-align: center;
				}

				&.active, &:hover {
					a {
						color: #bcdd6b;
					}
				}
			}
		}

		.nav-wrap {
			@media screen {
				@media (min-width: 1200px) {
					.lang-bar {
						display: none;
					}
				}

    			@media (max-width: 1199px) {
					position: fixed;
					top: 0;
					bottom: 0;
					right: -100%;
					width: 40%;
					padding: 0;
					background: #fff;
					overflow: auto;
					z-index: 100;

					.lang-bar {
						position: static;
						display: block;
						width: auto;
						margin: 20px 0 0 5px;

						ul {
							li {
								display: inline-block;
								border: 0;
								border-right: 1px solid #ccc;

								&:last-child {
									border: 0;
								}

								a {
									padding: 10px 15px;
									font-size: 17px;
								}
							}
						}
					}
    			}

    			@media (max-width: 767px) {
    				width: 60%;
    			}

    			@media (max-width: 575px) {
    				width: 80%;
    			}
    		}
			
			.navbar-nav {
				@media screen {
	    			@media (max-width: 1199px) {
	    		 		display: block !important;
	    				padding: 30px 0;
	    			}
	    		}

				.nav-item {
					margin: 0 40px 0 0;

					&:last-child {
						margin: 0;
					}

					@media screen {
						@media (max-width: 1199px) {
							display: block;
							margin: 0;
						}
					}

					a {
						position: relative;
						padding: 10px 0;
						line-height: normal;
						font-family: $f_demi;
						font-size: 14px;
						color: #959595;
						text-transform: uppercase;

						

						@media screen {
							@media (min-width: 1200px) {
								&::after {
									content: '';
									display: block;
									position: absolute;
									top: calc(100% + 24px);
									left: 0;
									right: 0;
									height: 5px;
									background-color: transparent; 
								}
							}

							@media (max-width: 1199px) {
								display: block;
								padding: 15px 20px;
								border-bottom: 1px solid #eee;
								font-size: 17px;
							}
						}
					}

					@media screen {
						@media (min-width: 992px) {
							&:hover {
								a {
									color: #0e6648;
								}
							}
						}
					}
					
					&.active {
						a {
							color: #0e6648;

							&::after {
								background-color: #0e6648; 
							}
						}
					}

					@media screen {
						@media (max-width: 1199px) {
							&:last-child {
								a {
									border: 0;
								}
							}
						}
					}
				}
			}
		}

		.menu-toggle {
			display: inline-block;
			position: absolute;
			top: 0;
			right: 15px;
			bottom: 0;
			margin: auto 0;
		    width: 40px;
		    height: 18px;
		    cursor: pointer;

		    @media screen {
			   	@media (min-width: 1200px) {
			   		display: none;
			   	}
		    }

		    .icon {
				display: inline-block;
			    position: absolute;
			    top: 0;
			    right: 0;
			    bottom: 0;
			    left: 0;
				margin: auto;
			    width: 40px;
				height: 4px;
				background: #2a2b2c;
				backface-visibility: hidden;
				@include transition();

				&::before,
				&::after {
					content: '';
					display: block;
					position: absolute;
				    left: 0;
					width: 40px;
					height: 4px;
					background: #2a2b2c;
					backface-visibility: hidden;
					@include transition();
				}	

				&::before {
					top: -9px;
				}	

				&::after {
					top: 9px;
				}
			}
		}

		@media screen {
    		@media (max-width: 1199px) {
				.close-menu {
					position: absolute;
					top: 20px;
		   			right: 20px;
					width: 32px;
					height: 32px;
					background: url('../img/menu-close-ico.svg') 0 0 no-repeat;
					background-size: 100%;
					z-index: 101;
				}
			}
		}
	}
}

