@import '_fonts.scss';
@import '_functions.scss';

html, body {
    min-height: 100%;
}

body {
    background: #fff;
    font-family: 'FuturaPTBook';
    font-size: 16px;
    font-weight: 400;
    color: #585858; 

    @media screen {
        @media (min-width: 992px) {
            overflow-x: hidden;
        }
    }
}

textarea:focus, input:focus, select:focus, a:focus {
    outline: none;
}

img {
    max-width: 100%;
	border: none;
}

a {
    color: #585858;
    @include transition();

    &:hover {
        color: #585858; 
        text-decoration: none;
    }
}

ul {
	padding: 0;
	margin: 0;
    list-style: none;
}

h1, h2, h3, h4 {
    margin: 0;
    font-family: $f_demi;
    font-weight: 400;
}

.container {
    position: relative;
    
    @media screen {
        @media (min-width: 1200px) {
            width: 1170px;
            max-width: 1170px;
        }
    }
}

form {
    .form-group {
        margin: 0 0 24px 0;
    }

    .form-control {
        height: 50px;
        padding: 0 15px;
        border: 1px solid #e7e7e7;
        background: #fff;
        color: #636363;
        font-size: 16px;
        @include transition();
        @include rounded(0);

        &::-webkit-input-placeholder { 
            color: #959595;
        }

        &::-moz-placeholder { 
            color: #959595;
        }

        &:-ms-input-placeholder { 
            color: #959595;
        }

        &:-moz-placeholder { 
            color: #959595;
        }

        &:focus {
            box-shadow: none;
        }
    }

    textarea.form-control {
        min-height: 190px;
        max-width: 100% !important;
    }
}

.btn {
    &.btn-primary, &.btn-transpatent {
        padding: 0 30px;
        line-height: 51px;
        background: transparent;
        border: 2px solid #0e6648;
        font-family: $f_demi;
        font-size: 16px;
        color: #0e6648;
        letter-spacing: 3px;
        text-transform: uppercase;
        outline: none !important;
        cursor: pointer;
        @include rounded(0);

        @media screen {
            @media (min-width: 992px) {
                &:hover {
                    background: #bcdd6b;
                    border-color: #bcdd6b;
                }
            }

            @media (max-width: 767px) {
                line-height: 45px;
            }
        }

        &:active {
            &:not(:disabled),
            &:not(.disabled) {
                background-color: #bcdd6b;
                border-color: #0e6648;
                color: #0e6648;
            }
        }

        &:focus {
            box-shadow: none !important;
            -o-box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
        }
    }

    &.btn-transpatent {
        border: 2px solid #fff;
        color: #fff;

        @media screen {
            @media (min-width: 992px) {
                &:hover {
                    background: #6eccc3;
                    border-color: #6eccc3;
                }
            }
        }

        &:focus, &:active {
            &:not(:disabled),
            &:not(.disabled) {
                background: rgba(54, 54, 54, .4) !important;
                border-color: #fff;
                color: #fff;
            }
        }
    }
}

.thumbnail {
    margin: 0;
    padding: 0;
    border: 0;
}

.alert {
    padding: 15px 25px;
    margin: 0 0 30px 0;
    border: 0;
    font-size: 15px;
    color: #585858;
    @include rounded(0);

    strong {
        font-family: $f_demi;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &.alert-information {
        background-color: #d3f0ed;
    }

    &.alert-tip {
        background-color: #eee;
    }

    &.alert-success {
        background-color: #ebf5d2;
    }

    &.alert-error {
        background-color: #e6efec;
    }
}

.pagination {
    .page-item {
        margin: 0 4.5px !important;

        .page-link {
            display: block;
            min-width: 53px;
            height: 53px; 
            line-height: 51px;
            padding: 0 5px;
            background: none;
            border: 2px solid #1c6f53;
            font-size: 15px;
            font-family: $f_demi;
            color: #0e6648;
            text-align: center;
            box-shadow: none;
            outline: none;
            @include rounded(0);

           &.active,  &:hover {
                border-color: #6eccc3;
                color: #6eccc3;
            }

            &.active {
                pointer-events: none;
            }

            &.prev,
            &.next {
                background-color: #6eccc3;
                border-color: #6eccc3;

                .fas {
                    margin: 0;
                    color: #fff;
                    font-size: 16px;
                }

                &:hover {
                    background-color: #bcdd6b;
                    border-color: #bcdd6b;

                    .fas {
                        color: #0e6648;
                    }
                }
            }
        }
    }
}

.accordion {
    .card {
        padding: 0;
        border: 0;
        border-bottom: 1px solid #959595 !important;
        @include rounded(0);

        &:last-child {
            border-bottom: 0 !important;
        }

        .card-header {
            padding: 0;
            border: 0;
            background: none;
            @include rounded(0);

            .btn-link {
                position: relative;
                display: block;
                width: 100%;
                padding: 23px 0;
                font-family: $f_demi;
                font-size: 15px;
                color: #1c1c1c;
                text-transform: uppercase;
                text-decoration: none;
                text-align: left;
                @include transition();
                
                .fas {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto 0;
                    width: 29px;
                    height: 29px;
                    background-color: #0e6648;
                    color: #bcdd6b;
                    font-size: 13px;
                    @include transition();
                }

                &:hover {
                    color: #585858;
                }

                &[aria-expanded="true"] {
                    padding-bottom: 16px;
                    color: #585858;

                    .fas { 
                        color: #fff;
                        background-color: #bcdd6b;
                        transform: rotate(-180deg);
                        -o-transform: rotate(-180deg);
                        -moz-transform: rotate(-180deg);
                        -webkit-transform: rotate(-180deg);
                    }
                }
            }
        }

        .card-body {
            padding: 0 0 39px 0;

            p {
                font-size: 15px;
            }
        }

    }
}

@import '_header.scss';
@import '_content.scss';
@import '_footer.scss';