@font-face {
  font-family: 'FuturaPTBook';
  src: url("../fonts/FuturaPTBook.eot");
  src: url("../fonts/FuturaPTBook.eot") format("embedded-opentype"), url("../fonts/FuturaPTBook.woff2") format("woff2"), url("../fonts/FuturaPTBook.woff") format("woff"), url("../fonts/FuturaPTBook.ttf") format("truetype"), url("../fonts/FuturaPTBook.svg#FuturaPTBook") format("svg");
}

@font-face {
  font-family: 'FuturaPTDemi';
  src: url("../fonts/FuturaPTDemi.eot");
  src: url("../fonts/FuturaPTDemi.eot") format("embedded-opentype"), url("../fonts/FuturaPTDemi.woff2") format("woff2"), url("../fonts/FuturaPTDemi.woff") format("woff"), url("../fonts/FuturaPTDemi.ttf") format("truetype"), url("../fonts/FuturaPTDemi.svg#FuturaPTDemi") format("svg");
}

@font-face {
  font-family: 'FuturaPTMedium';
  src: url("../fonts/FuturaPTMedium.eot");
  src: url("../fonts/FuturaPTMedium.eot") format("embedded-opentype"), url("../fonts/FuturaPTMedium.woff2") format("woff2"), url("../fonts/FuturaPTMedium.woff") format("woff"), url("../fonts/FuturaPTMedium.ttf") format("truetype"), url("../fonts/FuturaPTMedium.svg#FuturaPTMedium") format("svg");
}

html, body {
  min-height: 100%;
}

body {
  background: #fff;
  font-family: 'FuturaPTBook';
  font-size: 16px;
  font-weight: 400;
  color: #585858;
}

@media screen and (min-width: 992px) {
  body {
    overflow-x: hidden;
  }
}

textarea:focus, input:focus, select:focus, a:focus {
  outline: none;
}

img {
  max-width: 100%;
  border: none;
}

a {
  color: #585858;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover {
  color: #585858;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
  font-family: "FuturaPTDemi";
  font-weight: 400;
}

.container {
  position: relative;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
    max-width: 1170px;
  }
}

form .form-group {
  margin: 0 0 24px 0;
}

form .form-control {
  height: 50px;
  padding: 0 15px;
  border: 1px solid #e7e7e7;
  background: #fff;
  color: #636363;
  font-size: 16px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

form .form-control::-webkit-input-placeholder {
  color: #959595;
}

form .form-control::-moz-placeholder {
  color: #959595;
}

form .form-control:-ms-input-placeholder {
  color: #959595;
}

form .form-control:-moz-placeholder {
  color: #959595;
}

form .form-control:focus {
  box-shadow: none;
}

form textarea.form-control {
  min-height: 190px;
  max-width: 100% !important;
}

.btn.btn-primary, .btn.btn-transpatent {
  padding: 0 30px;
  line-height: 51px;
  background: transparent;
  border: 2px solid #0e6648;
  font-family: "FuturaPTDemi";
  font-size: 16px;
  color: #0e6648;
  letter-spacing: 3px;
  text-transform: uppercase;
  outline: none !important;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

@media screen and (min-width: 992px) {
  .btn.btn-primary:hover, .btn.btn-transpatent:hover {
    background: #bcdd6b;
    border-color: #bcdd6b;
  }
}

@media screen and (max-width: 767px) {
  .btn.btn-primary, .btn.btn-transpatent {
    line-height: 45px;
  }
}

.btn.btn-primary:active:not(:disabled), .btn.btn-primary:active:not(.disabled), .btn.btn-transpatent:active:not(:disabled), .btn.btn-transpatent:active:not(.disabled) {
  background-color: #bcdd6b;
  border-color: #0e6648;
  color: #0e6648;
}

.btn.btn-primary:focus, .btn.btn-transpatent:focus {
  box-shadow: none !important;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.btn.btn-transpatent {
  border: 2px solid #fff;
  color: #fff;
}

@media screen and (min-width: 992px) {
  .btn.btn-transpatent:hover {
    background: #6eccc3;
    border-color: #6eccc3;
  }
}

.btn.btn-transpatent:focus:not(:disabled), .btn.btn-transpatent:focus:not(.disabled), .btn.btn-transpatent:active:not(:disabled), .btn.btn-transpatent:active:not(.disabled) {
  background: rgba(54, 54, 54, 0.4) !important;
  border-color: #fff;
  color: #fff;
}

.thumbnail {
  margin: 0;
  padding: 0;
  border: 0;
}

.alert {
  padding: 15px 25px;
  margin: 0 0 30px 0;
  border: 0;
  font-size: 15px;
  color: #585858;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.alert strong {
  font-family: "FuturaPTDemi";
  letter-spacing: 1px;
  text-transform: uppercase;
}

.alert.alert-information {
  background-color: #d3f0ed;
}

.alert.alert-tip {
  background-color: #eee;
}

.alert.alert-success {
  background-color: #ebf5d2;
}

.alert.alert-error {
  background-color: #e6efec;
}

.pagination .page-item {
  margin: 0 4.5px !important;
}

.pagination .page-item .page-link {
  display: block;
  min-width: 53px;
  height: 53px;
  line-height: 51px;
  padding: 0 5px;
  background: none;
  border: 2px solid #1c6f53;
  font-size: 15px;
  font-family: "FuturaPTDemi";
  color: #0e6648;
  text-align: center;
  box-shadow: none;
  outline: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.pagination .page-item .page-link.active, .pagination .page-item .page-link:hover {
  border-color: #6eccc3;
  color: #6eccc3;
}

.pagination .page-item .page-link.active {
  pointer-events: none;
}

.pagination .page-item .page-link.prev, .pagination .page-item .page-link.next {
  background-color: #6eccc3;
  border-color: #6eccc3;
}

.pagination .page-item .page-link.prev .fas, .pagination .page-item .page-link.next .fas {
  margin: 0;
  color: #fff;
  font-size: 16px;
}

.pagination .page-item .page-link.prev:hover, .pagination .page-item .page-link.next:hover {
  background-color: #bcdd6b;
  border-color: #bcdd6b;
}

.pagination .page-item .page-link.prev:hover .fas, .pagination .page-item .page-link.next:hover .fas {
  color: #0e6648;
}

.accordion .card {
  padding: 0;
  border: 0;
  border-bottom: 1px solid #959595 !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.accordion .card:last-child {
  border-bottom: 0 !important;
}

.accordion .card .card-header {
  padding: 0;
  border: 0;
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.accordion .card .card-header .btn-link {
  position: relative;
  display: block;
  width: 100%;
  padding: 23px 0;
  font-family: "FuturaPTDemi";
  font-size: 15px;
  color: #1c1c1c;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; white-space: unset;
}

.accordion .card .card-header .btn-link .fas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto 0;
  width: 29px;
  height: 29px;
  background-color: #0e6648;
  color: #bcdd6b;
  font-size: 13px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion .card .card-header .btn-link:hover {
  color: #585858;
}

.accordion .card .card-header .btn-link[aria-expanded="true"] {
  padding-bottom: 16px;
  color: #585858;
}

.accordion .card .card-header .btn-link[aria-expanded="true"] .fas {
  color: #fff;
  background-color: #bcdd6b;
  transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}

.accordion .card .card-body {
  padding: 0 0 39px 0;
}

.accordion .card .card-body p {
  font-size: 15px;
}

.home #main-header {
  margin: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#main-header {
  padding: 21.5px 0;
  margin: 0 0 97px 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1199px) {
  #main-header {
    margin: 0 0 50px 0;
  }
  #main-header .container {
    position: relative;
  }
  #main-header .container .row > [class*="col-"] {
    position: static;
  }
}

@media screen and (max-width: 991px) {
  #main-header {
    padding: 17px 0;
  }
}

#main-header .navbar {
  padding: 0;
}

#main-header .navbar .container {
  display: block;
}

#main-header .navbar .navbar-brand {
  position: relative;
  width: 198px;
  height: 54px;
  padding: 0;
  margin: 0 14.03508% 0 0;
}

#main-header .navbar .lang-bar {
  position: absolute;
  right: 0;
  width: 85px;
}

@media screen and (max-width: 1199px) {
  #main-header .navbar .lang-bar {
    display: none;
  }
}

#main-header .navbar .lang-bar li {
  border-bottom: 1px solid #ccc;
}

#main-header .navbar .lang-bar li:last-child {
  border: 0;
}

#main-header .navbar .lang-bar li a {
  display: block;
  padding: 9px 0;
  font-family: "FuturaPTDemi";
  font-size: 14px;
  color: #0e6648;
  text-transform: uppercase;
  text-align: center;
}

#main-header .navbar .lang-bar li.active a, #main-header .navbar .lang-bar li:hover a {
  color: #bcdd6b;
}

@media screen and (min-width: 1200px) {
  #main-header .navbar .nav-wrap .lang-bar {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  #main-header .navbar .nav-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 40%;
    padding: 0;
    background: #fff;
    overflow: auto;
    z-index: 100;
  }
  #main-header .navbar .nav-wrap .lang-bar {
    position: static;
    display: block;
    width: auto;
    margin: 20px 0 0 5px;
  }
  #main-header .navbar .nav-wrap .lang-bar ul li {
    display: inline-block;
    border: 0;
    border-right: 1px solid #ccc;
  }
  #main-header .navbar .nav-wrap .lang-bar ul li:last-child {
    border: 0;
  }
  #main-header .navbar .nav-wrap .lang-bar ul li a {
    padding: 10px 15px;
    font-size: 17px;
  }
}

@media screen and (max-width: 767px) {
  #main-header .navbar .nav-wrap {
    width: 60%;
  }
}

@media screen and (max-width: 575px) {
  #main-header .navbar .nav-wrap {
    width: 80%;
  }
}

@media screen and (max-width: 1199px) {
  #main-header .navbar .nav-wrap .navbar-nav {
    display: block !important;
    padding: 30px 0;
  }
}

#main-header .navbar .nav-wrap .navbar-nav .nav-item {
  margin: 0 40px 0 0;
}

#main-header .navbar .nav-wrap .navbar-nav .nav-item:last-child {
  margin: 0;
}

@media screen and (max-width: 1199px) {
  #main-header .navbar .nav-wrap .navbar-nav .nav-item {
    display: block;
    margin: 0;
  }
}

#main-header .navbar .nav-wrap .navbar-nav .nav-item > a {
  position: relative;
  padding: 10px 0;
  line-height: normal;
  font-family: "FuturaPTDemi";
  font-size: 14px;
  color: #959595;
  text-transform: uppercase;
}

#main-header .navbar .nav-wrap .navbar-nav .nav-item.dropdown .dropdown-toggle, #main-header .navbar .nav-wrap .navbar-nav .nav-item.dropdown > a {
  padding-right: 20px;
}

#main-header .navbar .nav-wrap .navbar-nav .nav-item.dropdown .dropdown-toggle::after, #main-header .navbar .nav-wrap .navbar-nav .nav-item.dropdown > a::after{
  content: "\f107";
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 3px;
  left: auto;
  right: 20px;
  bottom: 3px;
  padding: 0;
  margin: auto 0;
  border: 0;
  width: 13px;
  height: 13px;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  font-size: 16px;
  color: #959595;
  text-rendering: auto;
  text-align: right;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#main-header .navbar .nav-wrap .navbar-nav .nav-item.dropdown.show .dropdown-toggle::after, #main-header .navbar .nav-wrap .navbar-nav .nav-item.dropdown.show > a::after {
  color: #0e6648;
}

#main-header .navbar .nav-wrap .navbar-nav .nav-item.dropdown .dropdown-menu, #main-header .navbar .nav-wrap .navbar-nav .nav-item.dropdown .sub-menu {
  position: static;
  top: 100%;
  padding: 15px 0;
  margin: 5px 0 0 0;
  background-color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

@media screen and (min-width: 1200px) {
  #main-header .navbar .nav-wrap .navbar-nav .nav-item.dropdown .dropdown-toggle::after,#main-header .navbar .nav-wrap .navbar-nav .nav-item.dropdown > a::after {
    right: 0;
  }

  #main-header .navbar .nav-wrap .navbar-nav .nav-item.dropdown .dropdown-menu, #main-header .navbar .nav-wrap .navbar-nav .nav-item.dropdown .sub-menu {
    position: absolute;
    padding: 0;
    border-color: #ccc;
    -webkit-box-shadow: 0px 25px 33px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 25px 33px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 25px 33px 0px rgba(0, 0, 0, 0.1);
  }
}

#main-header .navbar .nav-wrap .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item, #main-header .navbar .nav-wrap .navbar-nav .nav-item.dropdown .nav-item a{
  display: block;
  padding: 10px 15px;
  font-family: "FuturaPTDemi";
  font-size: 14px;
  color: #959595;
  text-transform: uppercase;
}

#main-header .navbar .nav-wrap .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:active,
#main-header .navbar .nav-wrap .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:focus,
#main-header .navbar .nav-wrap .navbar-nav .nav-item.dropdown .dropdown-menu .nav-item a:active,
#main-header .navbar .nav-wrap .navbar-nav .nav-item.dropdown .dropdown-menu .nav-item a:focus {
  background-color: #f8f9fa;
}

@media screen and (min-width: 1200px) {
  #main-header .navbar .nav-wrap .navbar-nav .nav-item a::after {
    content: '';
    display: block;
    position: absolute;
    top: calc(100% + 24px);
    left: 0;
    right: 0;
    height: 5px;
    background-color: transparent;
  }
}

@media screen and (max-width: 1199px) {
  #main-header .navbar .nav-wrap .navbar-nav .nav-item a {
    display: block;
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
    font-size: 17px;
  }
}

@media screen and (min-width: 992px) {
  #main-header .navbar .nav-wrap .navbar-nav .nav-item:hover a {
    color: #0e6648;
  }
}

#main-header .navbar .nav-wrap .navbar-nav .nav-item.active a, #main-header .navbar .nav-wrap .navbar-nav .nav-item.current-menu-parent a {
  color: #0e6648;
}

#main-header .navbar .nav-wrap .navbar-nav .nav-item.active a::after {
  background-color: #0e6648;
}

@media screen and (max-width: 1199px) {
  #main-header .navbar .nav-wrap .navbar-nav .nav-item:last-child a {
    border: 0;
  }
}

#main-header .navbar .menu-toggle {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  margin: auto 0;
  width: 40px;
  height: 18px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  #main-header .navbar .menu-toggle {
    display: none;
  }
}

#main-header .navbar .menu-toggle .icon {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 40px;
  height: 4px;
  background: #2a2b2c;
  backface-visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#main-header .navbar .menu-toggle .icon::before, #main-header .navbar .menu-toggle .icon::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 40px;
  height: 4px;
  background: #2a2b2c;
  backface-visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#main-header .navbar .menu-toggle .icon::before {
  top: -9px;
}

#main-header .navbar .menu-toggle .icon::after {
  top: 9px;
}

@media screen and (max-width: 1199px) {
  #main-header .navbar .close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    background: url("../img/menu-close-ico.svg") 0 0 no-repeat;
    background-size: 100%;
    z-index: 101;
  }
}

.section-name, .page-name {
  line-height: 1;
  font-family: "FuturaPTDemi";
  font-size: 40px;
  color: #0e6648;
  letter-spacing: 2px;
}

@media screen and (max-width: 991px) {
  .section-name, .page-name {
    margin: 0 0 40px 0;
  }
}

@media screen and (max-width: 767px) {
  .section-name, .page-name {
    margin: 0 0 30px 0;
    font-size: 35px;
    text-align: center;
  }
}

.page-name {
  margin: 0 0 45px 0;
}

.scroll-down {
  display: inline-block;
  position: absolute;
  top: -141px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 92.5px 54px 92.5px;
  border-color: transparent transparent #fff transparent;
  z-index: 1;
}

@media (max-width: 575px) {
  .scroll-down {
    display: none;
  }
}

.scroll-down::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 29px;
  left: -9px;
  width: 23px;
  height: 14px;
  background: url("../img/sprite.png") 0 0 no-repeat;
}

.scroll-down.white-arrow {
  border-color: transparent transparent #e9ede1 transparent;
}

.scroll-down.white-arrow::before {
  background-position: -18px -5px;
}

.scroll-down.blue-arrow::before {
  background-position: -49px -5px;
}

.scroll-down.green-arrow::before {
  background-position: -80px -5px;
}

.scroll-down.left {
  left: 0;
}

.scroll-down.right {
  right: 0;
}

.sticky-banner {
  position: fixed;
  top: 110px;
  right: calc(-100% - 85px);
  min-width: 105px;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 991px) {
  .sticky-banner {
    display: none;
  }
}

.sticky-banner a {
  position: relative;
  display: block;
  padding: 12px 45px 12px 20px;
  background: #bcdd6b;
  color: #0e6648;
  font-family: "FuturaPTDemi";
  letter-spacing: 1px;
  /*
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 28px;
      bottom: 0;
      margin: auto 0;
      width: 9px;
      height: 16px;
      background: url('../img/sprite.png') no-repeat -4px -3px;
      transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      @include transition();
    }
    */
}



.sticky-banner a .amount {
  margin: 0 20px 0 0;
}

.sticky-banner a .amount::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 22px;
  background: url("../img/house-ico.svg") 0 0 no-repeat;
  background-size: 100%;
}


.sticky-banner a .amount .badge {
  display: inline-block;
  min-width: 18px;
  height: 18px;
  padding: 0 2px;
  margin: -4px 0 0 0;
  background: #fff;
  font-family: "FuturaPTDemi";
  font-size: 11px;
  font-style: normal;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.sticky-banner:hover {
  right: 0 !important;
}

.sticky-banner:hover a::before {
  transform: rotate(0);
  -o-transform: rotate(0);
  -moz-transform: rotate(0);
  -webkit-transform: rotate(0);
}

.tabs-block .nav-tabs {
  width: 100%;
  margin: 0 0 39px 0;
  border-color: #959595;
}

@media screen and (max-width: 767px) {
  .tabs-block .nav-tabs {
    border: 0;
  }
}

@media screen and (max-width: 767px) {
  .tabs-block .nav-tabs li {
    border-bottom: 1px solid #eee;
  }
}

.tabs-block .nav-tabs li .nav-link {
  padding: 8px 20px;
  margin: 0 0 -1px 0;
  border: 0;
  line-height: normal;
  background: none;
  border-bottom: 3px solid transparent;
  font-family: "FuturaPTDemi";
  font-size: 14px;
  color: #959595;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.tabs-block .nav-tabs li .nav-link.active {
  border-color: #0e6648;
  color: #0e6648;
}

.tabs-block .nav-tabs li .nav-link:hover {
  color: #0e6648;
}

.tabs-block .tab-content .tab-pane p {
  font-size: 15px;
}

.tabs-block .tab-content .tab-pane .read-more {
  margin: 44px 0 0 0;
}

@media screen and (max-width: 991px) {
  .tabs-block .tab-content .tab-pane .read-more {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .tabs-block .tab-content .tab-pane .read-more .btn {
    width: 100%;
  }
}

.hero-slider {
  margin: 0 0 87px 0;
}

@media screen and (min-width: 1920px) {
  .hero-slider .owl-carousel .owl-item > div {
    background-size: cover !important;
  }
}

@media screen and (min-width: 992px) {
  .hero-slider .owl-carousel .owl-item > div {
    min-height: 738px;
  }
}

@media screen and (max-width: 991px) {
  .hero-slider .owl-carousel .owl-item > div {
    padding: 150px 0;
  }
}

@media screen and (max-width: 767px) {
  .hero-slider .owl-carousel .owl-item > div {
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .hero-slider .owl-carousel .owl-item > div {
    padding: 80px 0;
  }
}

.hero-slider .owl-carousel .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  text-align: center;
}

@media screen and (max-width: 575px) {
  .hero-slider .owl-carousel .owl-dots {
    position: static;
    margin: 20px 0 0 0;
  }
}

.hero-slider .owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  width: 24px;
  height: 5px;
  margin: 0 12px;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (min-width: 992px) {
  .hero-slider .owl-carousel .owl-dots .owl-dot:hover {
    background: #bcdd6b;
  }
}

@media screen and (max-width: 575px) {
  .hero-slider .owl-carousel .owl-dots .owl-dot {
    background: #0e6648;
  }
}

.hero-slider .owl-carousel .owl-dots .owl-dot.active {
  background: #bcdd6b;
}

.hero-slider .text {
  color: #fff;
}

@media screen and (min-width: 992px) {
  .hero-slider .text {
    max-width: 670px;
  }
}

.hero-slider .text h1, .hero-slider .text h2 {
  margin: 0 0 20px 0;
  line-height: normal;
  font-family: "FuturaPTDemi";
  font-size: 40px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .hero-slider .text h1, .hero-slider .text h2 {
    font-size: 33px;
  }
}

@media screen and (max-width: 575px) {
  .hero-slider .text h1, .hero-slider .text h2 {
    font-size: 28px;
  }
}

.hero-slider .text h1 span, .hero-slider .text h2 span {
  display: block;
  color: #6eccc3;
}

.hero-slider .text p {
  margin: 0;
  letter-spacing: .5px;
}

.hero-slider .text .btn {
  min-width: 262px;
  margin: 50px 0 0 0;
}

@media screen and (max-width: 1199px) {
  .hero-slider .text .btn {
    margin: 35px 0 0 0;
  }
}

@media screen and (max-width: 767px) {
  .hero-slider .text .btn {
    min-width: 100%;
  }
}

.about-us {
  position: relative;
}

@media screen and (min-width: 992px) {
  .about-us .section-name {
    position: absolute;
    top: 69px;
    left: 0;
  }
}

.about-us .btn {
  padding: 0 65px;
}

.about-us.project .section-name {
  font-family: "FuturaPTMedium";
}

.about-us.project .image {
  margin: 48px 0 0 0;
}

.about-us.apartments {
  padding: 90px 0 155px 0;
  background-color: #e9ede1;
}

@media screen and (max-width: 575px) {
  .about-us.apartments {
    padding: 65px 0 90px 0;
  }
}

@media screen and (max-width: 767px) {
  .about-us.apartments .tabs-block .nav-tabs li {
    border-bottom: 1px solid #cecdcd;
  }
}

.about-us.apartments .apartment-ad {
  margin: 30px 0 0 0;
}

.about-us.apartments .apartment-ad .row {
  margin: 0;
}

.about-us.apartments .apartment-ad .row > [class*="col-"] {
  padding: 0;
}

.about-us.apartments .apartment-ad .thumbnail {
  position: relative;
}

.about-us.apartments .apartment-ad .thumbnail a {
  display: block;
}

.about-us.apartments .apartment-ad .thumbnail .btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  border: 0;
  margin: auto;
  height: 51px;
  width: 262px;
  background: #fff;
}

@media screen and (min-width: 992px) {
  .about-us.apartments .apartment-ad .thumbnail .btn:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.6);
  }
}

@media screen and (max-width: 991px) {
  .about-us.apartments .apartment-ad .thumbnail .btn {
    height: 45px;
  }
}

.about-us.apartments .apartment-ad .details {
  padding: 13px 35px 23px 35px;
  background-color: #fff;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .about-us.apartments .apartment-ad .details {
    margin: -30px 0 0 0;
    padding: 13px 25px 23px 25px;
  }
}

@media screen and (max-width: 767px) {
  .about-us.apartments .apartment-ad .details {
    padding: 15px 20px 25px 20px;
  }
}

.about-us.apartments .apartment-ad .details .rooms a {
  font-family: "FuturaPTDemi";
  font-size: 40px;
  color: #0e6648;
}

.about-us.apartments .apartment-ad .details .rooms::after {
  content: '';
  display: block;
  width: 112px;
  height: 11px;
  margin: 9px 0 0 0;
  background: #bcdd6b;
}

@media screen and (max-width: 1199px) {
  .about-us.apartments .apartment-ad .details .rooms {
    font-size: 33px;
  }
}

@media screen and (max-width: 575px) {
  .about-us.apartments .apartment-ad .details .rooms {
    margin: 0 0 15px 0;
  }
}

.about-us.apartments .apartment-ad .details .total a {
  font-size: 15px;
  color: #bcdd6b;
}

.about-us.apartments .apartment-ad .details .description {
  margin: 10px 0 20px 0;
  color: #0e6648;
  font-size: 15px;
}

.about-us.apartments .apartment-ad .details .description p:last-child {
  margin: 0;
}

.about-us.apartments .apartment-ad .details .features li {
  font-family: "FuturaPTDemi";
  font-size: 26px;
  color: #0e6648;
}

@media screen and (max-width: 1199px) {
  .about-us.apartments .apartment-ad .details .features li {
    font-size: 24px;
  }
}

@media screen and (max-width: 991px) {
  .about-us.apartments .apartment-ad .details .features li {
    font-size: 21px;
  }
}

.about-us.apartments .apartment-ad .details .price {
  margin: 20px 0 0 0;
  font-family: "FuturaPTDemi";
  font-size: 30px;
  color: #bcdd6b;
}

@media screen and (max-width: 1199px) {
  .about-us.apartments .apartment-ad .details .price {
    font-size: 26px;
  }
}

@media screen and (max-width: 991px) {
  .about-us.apartments .apartment-ad .details .price {
    font-size: 23px;
  }
}

.about-us.apartments .scroll-down {
  top: -144px;
}

.contact-us.location {
  padding: 92px 0 101px 0;
}

.contact-us.location .apartments-logos {
  margin: 3px 0 0 0;
}

@media screen and (max-width: 767px) {
  .contact-us.location .apartments-logos {
    margin: 30px 0 0 0;
    text-align: center;
  }
}

.contact-us.location .apartments-logos li {
  margin: 0 48px 0 0;
}

.contact-us.location .apartments-logos li:last-child {
  margin: 0;
}

.contact-us.location .apartments-logos li a {
  display: block;
}

.contact-us.location .apartments-logos li img {
  width: 175px;
}

@media screen and (max-width: 767px) {
  .contact-us.location .apartments-logos li {
    display: inline-block;
    width: 49%;
    padding: 0 15px;
    margin: 0;
    text-align: center;
  }
  .contact-us.location .apartments-logos li img {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .contact-us.location .apartments-logos li {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 0 30px 0;
  }
  .contact-us.location .apartments-logos li img {
    width: 70%;
  }
  .contact-us.location .apartments-logos li:last-child {
    margin: 0;
  }
}

.contact-us.location #google-map {
  height: 425px;
  margin: 50px 0 0 0;
}

@media screen and (max-width: 767px) {
  .contact-us.location #google-map {
    height: 300px;
  }
}

.contact-us.location .scroll-down {
  top: -146px;
}

.contact-us.form {
  background: #e9ede1;
  padding: 82px 0 78px 0;
}

.contact-us.form .section-name {
  margin: 0 0 62px 0;
}

@media screen and (min-width: 992px) {
  .contact-us.form form {
    max-width: 570px;
  }
}

@media screen and (max-width: 991px) {
  .contact-us.form form {
    padding: 30px;
    margin: 0 0 30px 0;
    background: #e3e7db;
  }
}

.contact-us.form form .form-group {
  margin: 0 0 45px 0;
}

@media screen and (max-width: 991px) {
  .contact-us.form form .form-group {
    margin: 0 0 35px 0;
  }
  .contact-us.form form .form-group.submit {
    margin: 0;
  }
}

.contact-us.form form .form-control {
  height: auto;
  padding: 0 0 11px 0;
  border: 0;
  background: none;
  border-bottom: 1px solid #959595;
  font-family: "FuturaPTMedium";
  font-size: 15px;
  color: #959595;
}

@media screen and (min-width: 992px) {
  .contact-us.form form button[type="submit"]:not(:disabled), .contact-us.form form button[type="submit"]:not(.disabled),
  .contact-us.form form input[type="submit"]:not(:disabled),
  .contact-us.form form input[type="submit"]:not(.disabled) {
    margin: 35px 0 0 0;
    padding: 0 59px;
  }
  .contact-us.form form button[type="submit"]:not(:disabled):hover, .contact-us.form form button[type="submit"]:not(.disabled):hover,
  .contact-us.form form input[type="submit"]:not(:disabled):hover,
  .contact-us.form form input[type="submit"]:not(.disabled):hover {
    background: #fff;
    border-color: #fff;
    color: #bcdd6b;
  }
}

@media screen and (max-width: 767px) {
  .contact-us.form form button[type="submit"]:not(:disabled), .contact-us.form form button[type="submit"]:not(.disabled),
  .contact-us.form form input[type="submit"]:not(:disabled),
  .contact-us.form form input[type="submit"]:not(.disabled) {
    width: 100%;
  }
}

.contact-us.form .contact-persons .person {
  margin: 0 0 60px 0;
}

@media screen and (max-width: 991px) {
  .contact-us.form .contact-persons .person {
    margin: 0;
    padding: 30px 0;
    border-bottom: 1px solid #cac9c9;
  }
}

.contact-us.form .contact-persons .person:last-child {
  margin: 0;
  border: 0;
}

.contact-us.form .contact-persons .person .photo-thumbnail {
  margin: 0 34px 0 0;
}

.contact-us.form .contact-persons .person .photo-thumbnail img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .contact-us.form .contact-persons .person .photo-thumbnail {
    margin: 0 20px 0 0;
  }
  .contact-us.form .contact-persons .person .photo-thumbnail img {
    width: 120px;
  }
}

.contact-us.form .contact-persons .person .details {
  font-size: 15px;
  color: #0e6648;
  letter-spacing: 1px;
}

.contact-us.form .contact-persons .person .details .name {
  margin: 0 0 3px 0;
  font-size: 16px;
}

.contact-us.form .contact-persons .person .details .position {
  display: block;
}

.contact-us.form .contact-persons .person .details .contacts {
  margin: 23px 0 0 0;
}

.contact-us.form .contact-persons .person .details .contacts li a {
  color: #0e6648;
}

.contact-us.form .scroll-down {
  top: -136px;
}

.contact-us.addresses {
  margin: 0 0 100px 0;
}

@media screen and (max-width: 991px) {
  .contact-us.addresses .row > [class*="col-"] {
    margin-bottom: 50px;
  }
}

.contact-us.addresses .address-block .block-name {
  margin: 0 0 5px 0;
  font-size: 26px;
  color: #0e6648;
}

.contact-us.addresses .address-block .address {
  font-size: 15px;
}

.contact-us.addresses .address-block .map {
  margin: 63px 0 0 0;
}

@media screen and (max-width: 991px) {
  .contact-us.addresses .address-block .map {
    margin: 30px 0 0 0;
  }
}

.contact-us.addresses .address-block .map #google-map,
.contact-us.addresses .address-block .map #google-map-2 {
  height: 425px;
}

@media screen and (max-width: 991px) {
  .contact-us.addresses .address-block .map #google-map,
  .contact-us.addresses .address-block .map #google-map-2 {
    height: 300px;
  }
}

.post-view {
  margin-bottom: 50px;
}

.post-view .post .entry-title {
  margin: 0 0 27px 0;
  line-height: normal;
  font-size: 40px;
  color: #0e6648;
}

@media screen and (max-width: 767px) {
  .post-view .post .entry-title {
    margin: 0 0 20px 0;
    font-size: 35px;
    text-align: center;
  }
}

.post-view .post .entry-content h2 {
  margin: 0 0 20px 0;
  line-height: normal;
  font-size: 26px;
  color: #0e6648;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.post-view .post .entry-content ul:not(.nav-tabs) li, .post-view .post .entry-content ul:not(.pagination) li {
  position: relative;
  margin: 0 0 14px 0;
  font-size: 15px;
}

.post-view .post .entry-content ul:not(.nav-tabs) li:last-child, .post-view .post .entry-content ul:not(.pagination) li:last-child {
  margin: 0;
}

.post-view .post .entry-content ul:not(.nav-tabs) li .fas, .post-view .post .entry-content ul:not(.pagination) li .fas {
  margin: 0 15px 0 0;
  font-size: 13px;
  color: #585858;
}

.post-view .post .entry-content .tabs-block .nav-tabs .nav-item {
  margin-bottom: 0;
}

@media screen and (max-width: 991px) {
  .post-view .post .entry-content .pagination {
    margin: 15px 0;
  }
}

.post-view .post .entry-content .pagination li .page-link .fas {
  margin: 0;
  color: #fff;
  font-size: 16px;
}

.post-view .post .entry-content .pagination li .page-link:hover .fas {
  color: #0e6648;
}

.post-view .post .entry-content table {
  width: 100%;
  border: 1px solid #333d47;
  font-size: 15px;
}

.post-view .post .entry-content table thead {
  background: #d3f0ed;
}

.post-view .post .entry-content table thead tr th {
  padding: 3px 12px;
  border-right: 1px solid #333d47;
  font-family: "FuturaPTDemi";
  font-size: 15px;
  color: #333d47;
}

.post-view .post .entry-content table thead tr th:last-child {
  border: 0;
}

.post-view .post .entry-content table tbody tr td {
  padding: 1px 12px;
  background: #ebf5d2;
  border-right: 1px solid #333d47;
}

.post-view .post .entry-content table tbody tr td:last-child {
  border: 0;
}

.post-view .post .entry-content table tbody tr:nth-child(2n+0) {
  background: #fff;
}

.post-view .post .entry-content .block {
  margin: 0 0 60px 0;
}

@media screen and (min-width: 992px) {
  .post-view .post .entry-content .row {
    margin-left: -34px;
    margin-right: -34px;
  }
  .post-view .post .entry-content .row [class*="col-"] {
    padding-left: 34px;
    padding-right: 34px;
  }
}

.flat-overview .scroll-down {
  top: -159px;
}

.flat-overview .details {
  padding: 0 0 92px 0;
}

.flat-overview .details .text {
  margin: 0 0 42px 0;
}

.flat-overview .details .text p {
  margin: 0;
}

.flat-overview .details .image {
  padding: 0 0 0 28px;
}

@media screen and (max-width: 991px) {
  .flat-overview .details .image {
    text-align: center;
  }
  .flat-overview .details .image img {
    display: block;
    margin: 0 auto;
  }
}

.flat-overview .details .summary {
  margin: 13px 0 0 0;
}

.flat-overview .details .summary .rooms {
  font-family: "FuturaPTDemi";
  font-size: 40px;
  color: #0e6648;
}

.flat-overview .details .summary .rooms::after {
  content: '';
  display: block;
  width: 112px;
  height: 11px;
  margin: 9px 0 0 0;
  background: #bcdd6b;
}

@media screen and (max-width: 1199px) {
  .flat-overview .details .summary .rooms {
    font-size: 33px;
  }
}

@media screen and (max-width: 575px) {
  .flat-overview .details .summary .rooms {
    margin: 0 0 15px 0;
  }
}

.flat-overview .details .summary .total {
  font-size: 15px;
  color: #bcdd6b;
}

.flat-overview .details .summary .description {
  margin: 14px 0 20px 0;
  color: #0e6648;
  font-size: 15px;
}

.flat-overview .details .summary .description p:last-child {
  margin: 0;
}

.flat-overview .details .summary .features li {
  font-family: "FuturaPTDemi";
  font-size: 26px;
  color: #bcdd6b;
}

@media screen and (max-width: 1199px) {
  .flat-overview .details .summary .features li {
    font-size: 24px;
  }
}

@media screen and (max-width: 991px) {
  .flat-overview .details .summary .features li {
    font-size: 21px;
  }
}

.flat-overview .details .summary .price {
  margin: 10px 0 30px 0;
  font-family: "FuturaPTDemi";
  font-size: 40px;
  color: #0e6648;
}

@media screen and (max-width: 1199px) {
  .flat-overview .details .summary .price {
    font-size: 26px;
  }
}

@media screen and (max-width: 991px) {
  .flat-overview .details .summary .price {
    font-size: 23px;
  }
}

.flat-overview .details .summary .btn {
  padding: 0 25px;
}

@media screen and (max-width: 767px) {
  .flat-overview .details .summary .btn {
    width: 100%;
    text-align: center;
  }
}

.flat-overview .gallery {
  padding: 105px 0;
  background: #e9ede1;
}

@media screen and (max-width: 767px) {
  .flat-overview .gallery {
    padding: 60px 0;
  }
  .flat-overview .gallery .scroll-down {
    top: -114px;
  }
}

.flat-overview .gallery .owl-carousel .owl-nav {
  position: absolute;
  top: 0;
  left: -15px;
  right: -15px;
  bottom: 0;
  height: .1px;
  margin: auto 0;
}

@media screen and (max-width: 767px) {
  .flat-overview .gallery .owl-carousel .owl-nav {
    left: 0;
    right: 0;
  }
}

.flat-overview .gallery .owl-carousel .owl-nav .owl-prev,
.flat-overview .gallery .owl-carousel .owl-nav .owl-next {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: -29px;
  width: 64px;
  height: 58px;
  background: #bcdd6b;
  font-size: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 767px) {
  .flat-overview .gallery .owl-carousel .owl-nav .owl-prev,
  .flat-overview .gallery .owl-carousel .owl-nav .owl-next {
    width: 40px;
    height: 40px;
  }
}

.flat-overview .gallery .owl-carousel .owl-nav .owl-prev::before,
.flat-overview .gallery .owl-carousel .owl-nav .owl-next::before {
  content: "\f104";
  display: inline-block;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  font-size: 40px;
  color: #fff;
  text-rendering: auto;
}

@media screen and (max-width: 767px) {
  .flat-overview .gallery .owl-carousel .owl-nav .owl-prev::before,
  .flat-overview .gallery .owl-carousel .owl-nav .owl-next::before {
    font-size: 30px;
  }
}

.flat-overview .gallery .owl-carousel .owl-nav .owl-prev:hover,
.flat-overview .gallery .owl-carousel .owl-nav .owl-next:hover {
  background: #b3d856;
}

.flat-overview .gallery .owl-carousel .owl-nav .owl-prev {
  left: 0;
}

.flat-overview .gallery .owl-carousel .owl-nav .owl-next {
  right: 0;
}

.flat-overview .gallery .owl-carousel .owl-nav .owl-next::before {
  content: "\f105";
}

.flat-overview .rooms-2d {
  padding: 99px 0;
}

@media (max-width: 767px) {
  .flat-overview .rooms-2d {
    padding: 60px 0;
  }
}

@media screen and (min-width: 768px) {
  .flat-overview .rooms-2d .section-name {
    margin: 0 0 68px 0;
  }
}

.flat-overview .rooms-2d .scroll-down {
  top: -153px;
}

.flat-overview .rooms-2d .scroll-down::before {
  background-position: -110px -6px;
}

@media (max-width: 767px) {
  .flat-overview .rooms-2d .scroll-down {
    top: -114px;
  }
}

.flat-overview .rooms-2d .directions-icon {
  position: absolute;
  top: 43px;
  right: 15px;
  width: 74px;
  height: 81px;
  background: url("../img/directions-icon.png") 0 0 no-repeat;
}

@media screen and (max-width: 767px) {
  .flat-overview .rooms-2d .directions-icon {
    display: none;
  }
}

.filters.options {
  margin: -95px 0 0 0;
  padding: 95px 0;
  background: #e9ede1;
}

@media screen and (max-width: 1199px) {
  .filters.options {
    margin: -50px 0 0 0;
    padding-bottom: 65px;
  }
}

@media screen and (max-width: 991px) {
  .filters.options {
    padding: 50px 0 20px 0;
  }
}

@media screen and (max-width: 1199px) {
  .filters.options form .row [class*="col-"] {
    margin-bottom: 30px;
  }
}

.filters.options form label {
  display: block;
  margin: 0 0 21px 0;
  font-family: "FuturaPTDemi";
  font-size: 26px;
  color: #0e6648;
}

@media screen and (max-width: 991px) {
  .filters.options form label {
    margin: 0 0 15px 0;
    font-size: 20px;
  }
}

.filters.options form .form-group {
  margin: 0;
}

.filters.options form .form-group .has-checkbox,
.filters.options form .form-group .has-radio {
  margin: 0 -4.5px;
}

.filters.options form .form-group .has-checkbox input[type="checkbox"],
.filters.options form .form-group .has-checkbox input[type="radio"],
.filters.options form .form-group .has-radio input[type="checkbox"],
.filters.options form .form-group .has-radio input[type="radio"] {
  display: none;
}

.filters.options form .form-group .has-checkbox label,
.filters.options form .form-group .has-radio label {
  display: block;
  min-width: 53px;
  height: 53px;
  line-height: 51px;
  margin: 0 4.5px;
  padding: 0 5px;
  background: none;
  border: 2px solid #1c6f53;
  color: #0e6648;
  font-size: 15px;
  font-family: "FuturaPTDemi";
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.filters.options form .form-group .has-checkbox label:hover,
.filters.options form .form-group .has-radio label:hover {
  background: #6eccc3;
  border-color: #6eccc3;
  color: #fff;
}

.filters.options form .form-group .has-checkbox input[type="checkbox"]:checked + label,
.filters.options form .form-group .has-checkbox input[type="radio"]:checked + label,
.filters.options form .form-group .has-radio input[type="checkbox"]:checked + label,
.filters.options form .form-group .has-radio input[type="radio"]:checked + label {
  background: #6eccc3;
  border-color: #6eccc3;
  color: #fff;
}

.filters.options .bootstrap-select {
  width: 100% !important;
}

.filters.options .bootstrap-select .dropdown-toggle {
  height: 53px;
  line-height: 51px;
  padding: 0 30px 0 15px;
  background: none;
  border: 2px solid #1c6f53;
  font-family: "FuturaPTDemi";
  color: #0e6648;
  outline: none !important;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.filters.options .bootstrap-select .dropdown-toggle::after {
  content: "\f107";
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  right: 0px;
  bottom: 3px;
  padding: 0;
  margin: auto 0;
  border: 0;
  width: 51px;
  height: 49px;
  background-color: #bcdd6b;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  font-size: 16px;
  color: #0e6648;
  text-rendering: auto;
  text-align: right;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.filters.options .bootstrap-select .dropdown-menu {
  background: #e9ede1;
  border: 2px solid #0e6648;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.filters.options .bootstrap-select .dropdown-menu.inner {
  display: block;
  border: 0;
}

.filters.options .bootstrap-select .dropdown-menu.inner li a {
  display: block;
  padding: 3px 15px;
  font-size: 15px;
  font-family: "FuturaPTDemi";
}

.filters.options .bootstrap-select.show .dropdown-toggle::after {
  background: #0e6648;
  color: #fff;
}

.filters.results {
  padding: 95px 0 85px 0;
}

@media screen and (max-width: 991px) {
  .filters.results {
    padding: 65px 0 55px 0;
  }
}

@media screen and (max-width: 767px) {
  .filters.results .table thead {
    display: none;
  }
}

.filters.results .table thead th {
  padding: 0 0 25px 0;
  border: 0;
  font-family: "FuturaPTDemi";
  font-size: 26px;
  color: #0e6648;
}

@media screen and (max-width: 991px) {
  .filters.results .table thead th {
    padding: 0 0 20px 0;
    font-size: 19px;
  }
}

@media (max-width: 767px) {
  .filters.results .table tbody tr {
    background: #f8f8f8;
  }
  .filters.results .table tbody tr:nth-child(2n+0) {
    background: none;
  }
}

.filters.results .table tbody tr td {
  padding: 0;
  border-color: #959595;
  color: #0e6648;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .filters.results .table tbody tr td .btn {
    width: 81.967213%;
    padding: 0 20px;
    border: 0;
  }
}

@media screen and (max-width: 767px) {
  .filters.results .table tbody tr td .btn {
    width: 100%;
    margin: 5px 0;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .filters.results .table tbody tr td:last-child {
    width: 26.7543%;
    border-color: transparent;
    text-align: right;
  }
}

@media screen and (max-width: 767px) {
  .filters.results .table tbody tr td {
    float: none;
    display: block;
    width: 100%;
    padding: 8px 15px;
    border: 0;
    font-size: 17px;
    text-align: left;
  }
  .filters.results .table tbody tr td:before {
    content: attr(data-title);
    float: left;
    width: 30%;
    font-family: "FuturaPTDemi";
    font-size: 17px;
    color: #0e6648;
    word-break: break-all;
    text-align: left;
  }
}

@media screen and (max-width: 575px) {
  .filters.results .table tbody tr td:before {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .filters.results .table tbody tr:last-child td {
    border-bottom: 1px solid #959595;
  }
  .filters.results .table tbody tr:last-child td:last-child {
    border-color: transparent;
  }
}

.home #main-footer {
  margin: 0;
}

#main-footer {
  padding: 82px 0 50px 0;
  margin: 0;
  background: #2a2b2c;
  color: #8e8e8e;
  font-family: "FuturaPTDemi";
  font-size: 13px;
  letter-spacing: .8px;
}

@media screen and (max-width: 767px) {
  #main-footer {
    padding: 45px 0 25px 0;
  }
}

@media screen and (min-width: 768px) {
  #main-footer .container {
    position: relative;
  }
  #main-footer .container::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -136px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 92.5px 54px 92.5px;
    border-color: transparent transparent #2a2b2c transparent;
  }
}

@media screen and (min-width: 992px) {
  #main-footer .logo-col {
    margin-top: -33px;
  }
}

@media screen and (max-width: 991px) {
  #main-footer .logo-col {
    text-align: center;
  }
}

#main-footer .address {
  margin: 79px 0 0 0;
}

@media screen and (max-width: 991px) {
  #main-footer .address {
    margin: 30px 0;
  }
}

#main-footer .address span {
  display: block;
  margin: 0 0 5px 0;
  text-transform: uppercase;
}

#main-footer .col-head {
  margin: 0 42px 0 0;
  font-size: 15px;
  color: #bcdd6b;
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  #main-footer .col-head {
    margin: 0 0 20px 0;
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  #main-footer .social-media {
    margin: 15px 0 20px 0;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

#main-footer .social-media li {
  width: 46px;
  height: 46px;
  margin: 0 0 22px 0;
  opacity: .2;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 991px) {
  #main-footer .social-media li {
    display: inline-block;
    margin: 0 10px;
  }
}

#main-footer .social-media li a {
  display: block;
}

#main-footer .social-media li:last-child {
  margin: 0;
}

#main-footer .social-media li:hover {
  opacity: .6;
}

@media screen and (max-width: 991px) {
  #main-footer .partners {
    margin: 15px 0 20px 0;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #main-footer .partners li {
    display: inline-block;
    margin: 0 10px;
  }
}

#main-footer .copyrights {
  opacity: .3;
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  #main-footer .copyrights {
    display: block;
    margin: 10px 0 0 0;
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  #nav-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
  }
  #nav-overlay.active {
    display: block;
  }
}
#main-header .navbar .lang-bar li.current-lang a{
    color: #bcdd6b;
}
.gallery .owl-carousel.owl-loaded {
  font-size: 0;
}


.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
#main-header .navbar .nav-wrap .navbar-nav .nav-item.active a::after , #main-header .navbar .nav-wrap .navbar-nav .nav-item.current-menu-parent a::after{
  color: #0e6648;
  background-color: unset;
}